<p-panel header="{{title}}" [style]="{'width': '50%', 'margin': 'auto'}">
  <p-header>Заявка</p-header>
  <form novalidate #zForm="ngForm">
    <div class="p-fluid">
      <div class="p-field p-grid">
        <label for="fio" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Фамилия</label>
        <div class="p-col-12 p-md-9">
          <input required name="fio" #fam="ngModel" id="fio" [(ngModel)]="bid.fam" type="text" pInputText>
          <div *ngIf="fam.invalid && (fam.dirty || fam.touched)" class="alert-danger">
            <div *ngIf="fam.errors.required">Поле обязательно для заполнения.</div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="name" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Имя</label>
        <div class="p-col-12 p-md-9"><input required name="name" #name="ngModel" id="name" type="text"
                                            [(ngModel)]="bid.name" pInputText>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert-danger">
            <div *ngIf="name.errors.required">Поле обязательно для заполнения.</div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="otch" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Отчество</label>
        <div class="p-col-12 p-md-9"><input required name="otch" #otch="ngModel" id="otch" type="text"
                                            [(ngModel)]="bid.otch" pInputText>
          <div *ngIf="otch.invalid && (otch.dirty || otch.touched)" class="alert-danger">
            <div *ngIf="otch.errors.required">Поле обязательно для заполнения.</div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="pol" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Пол</label>
        <div class="p-col-12 p-md-9">
          <p-dropdown name="pol" id="pol" [options]="optionsPol" [(ngModel)]="bid.pol" optionLabel="name"></p-dropdown>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="birtday" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Дата рождения</label>
        <div class="p-col-12 p-md-9">
          <p-calendar name="dr" #dr="ngModel" id="birtday" required dateFormat="dd.mm.yy" placeholder="Введите дату"
                      [(ngModel)]="bid.dr" [showIcon]="true"></p-calendar>
          <div *ngIf="dr.invalid && (dr.dirty || dr.touched)" class="alert-danger">
            <div *ngIf="dr.errors.required">Поле обязательно для заполнения.</div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="ves" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Вес, кг</label>
        <div class="p-col-12 p-md-9">
          <p-inputNumber required placeholder="Введите число" name="weight" #weight="ngModel" id="ves"
                         [(ngModel)]="bid.weight" :max="500"></p-inputNumber>
          <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert-danger">
            <div *ngIf="weight.errors.required">Поле обязательно для заполнения.</div>
          </div>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="rost" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Рост, см</label>
        <div class="p-col-12 p-md-9">
          <p-inputNumber required placeholder="Введите число" name="height" #height="ngModel" id="rost"
                         [(ngModel)]="bid.height" [max]="300"></p-inputNumber>
          <div *ngIf="height.invalid && (height.dirty || height.touched)" class="alert-danger">
            <div *ngIf="height.errors.required">Поле обязательно для заполнения.</div>
          </div>
        </div>
      </div>
      <div style="text-align: center" *ngIf="id">Регистрационный номер
        <div class="regNom">{{id}}</div>
      </div>
    </div>

  </form>
  <p-footer>
    <button [disabled]="!zForm.valid" pButton type="button" label="Отправить" (click)="save()"></button>
    <button *ngIf="id" pButton style="margin-left: 10px" label="Скачать" (click)="load()"></button>
  </p-footer>

</p-panel>

